@import "../../var.scss";

.page-report {
    width: 100%;
    height: auto;

    .export-btn {
        width: 35%;
        border: 2px solid $c-primary;
        background-color: $c-white;
        border-radius: 5px;
        padding: 5px;
    }

    .search-btn {
        width: 40%;
        border: none;
        border-radius: 5px;
        background-color: $c-darkgrey;
        color: $c-white;
        padding: 10px;
    }
}