@import "../../../var.scss";

.page-result {
    width: 100%;
    height: auto;
      
    .itemBtn {
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 5px;
        font-size: 1rem;
        text-align: left;
        color: #007bff;
        background-color: transparent;
        border: none;
    }
      
    .itemBtnExpanded {
        background-color: rgba($color: $c-primary, $alpha: 0.2);
        border: 2px solid $c-darkgrey;
        border-radius: 5px;
    }

    .itemBtnExpanded .bi-chevron-right {
        transition: .3s;
        transform: rotate(90deg);
    }
      
    .itemContent {
        transition: height 0.25s cubic-bezier(0, 0, 0, 1);
    }
      
    .itemPanel {
        padding: 1rem;
    }
      
    .itemBtnExpanded .chevron {
        transform: rotate(180deg);
    }

    .list-button {
        width: 100%;
        height: auto;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .list-detail {
        width: 100%;
        display: flex;
        gap: 10px;

        hr {
            width: 100%;
            border-width: 2px;
            border-style: solid;
            border-top-color: $c-primary;
            border-bottom-color: $c-primary;
            margin: 5px 0px;
        }

        button {
            width: 50%;
            background-color: $c-primary;
            border-radius: 5px;
            font-size: 14px;
            border: none;
            outline: none;
            color: $c-white;
            padding: 5px 0px;
        }
    }

    .bordered {
        border-width: 2px;
        border-style: solid;
    }

    .search-btn {
        width: 40%;
        border: none;
        border-radius: 5px;
        background-color: $c-darkgrey;
        color: $c-white;
        padding: 10px;
    }
}